<!-- BD Band -->
<div class="container-wrapper withlovebd">
	<div class="container">
		<div class="row">
			<div class="bd-row col-sm-4 clearfix">
                           <p class="txt-white txt-upper txt-left no-pad">
                           <a href="contact.html" target="_blank" style="font-size:10px;">Contact</a>
                           <a href="privacy.html" target="_blank" style="font-size:10px;">Privacy</a>
                           <a href="terms.html" target="_blank" style="font-size:10px;">Terms</a>
                           <a href="refund.html" target="_blank" style="font-size:10px;">Refund</a>
                           </p>
                        </div>
			<div class="bd-row col-sm-8 clearfix">
				<p class="txt-white txt-left txt-upper no-pad">
                                  &copy; 2015. ALL RIGHTS RESERVED. TINKERIX TECHNOLOGIES
                                </p>
				<p class="txt-white txt-left txt-upper no-pad THE_DOT">Built at <a href="http://bearddesign.co" target="_blank" class="">Beard Design</a></p>
				<!-- <p class="txt-white txt-small txt-right hidden-xs">&copy; 2015. All Rights Reserved.</p> -->
			</div>
		</div>
	</div>
</div>
<!-- End of Bd Band -->
