%arrow-down {
	&:after {
		content: "";
		border-bottom: 1px solid;
		border-left: 1px solid;
		// border-right: 5px solid transparent;
		top: 50%;
		@include transform(translateY(-50%) rotate(-45deg));
		position: absolute;
		width: 7px;
		height: 7px;
		right: 2px;
		margin-top: -2px;
	}
}


/* ::Dropdown */
/* ------------------------------------------------------------ */
.drop-down-parent {
	// display: block;
	// padding-top: 61px;
}

.drop-down-parent > p {
	position: relative;
}

.drop-down {
	// position: relative;
	// display: block;
	z-index: 100;
	@include _transition($timing: ease-out);
	// @include transform(translateX(-50%));
	
	// display: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	overflow: hidden;;
	width: auto;
	margin-left: 0;
}
.drop-down-parent {
	position: relative;
}












// SITE SPECIFIC DROP-DOWN CSS


.drop-down-parent {
	float: none;
	padding: 5px 20px;
	width: auto;
	border: 1px solid $grey-medium;
	border-radius: $br-default;
	cursor: pointer;
	text-align: left;
	text-transform: uppercase;
	@include _transition();
}

.drop-down-parent {
	&.drop-down-open {
		.drop-down {
			display: block;
			opacity: 1;
			visibility: visible;
			@include transform(translateY(0px));
		}
	}
	.drop-down {
		@include transform(translateY(-30px));
	}
}




.drop-down-clicker {
	color: $black-4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 15px;
	@include _transition();
}
.drop-down-clicker {
	@extend %arrow-down;
}




.drop-down {
	overflow: visible;
	// padding-top: spacing($space-s1);
}
.drop-down--inner {
	background-color: $white;
	box-shadow: 0px 0px 6px 2px rgba($black, 0.15);
	border-radius: $br-default;
	margin-top: 10px;
	overflow: hidden;
}
.drop-down li {
	padding: 0;
	display: block;
	white-space: nowrap;
	&:hover {
		p {
			background-color: $blue;
			color: $white;
			a {

			}
		}
	}
}
.drop-down p {
	text-align: left;
	margin: 0;
	padding: 10px;
	color: $blue;
	@include _transition();
	a {
		display: block;
		color: inherit;
		@include _transition($prop: none);
	}
}












// Media Queries only for dropdown
@include respond-to($d-vp) {

	.drop-down-parent {
		display: inline-block;
		// padding-top: 0px;
	}

	.drop-down {
		width: auto;
		min-width: 100%;
		margin-left: 0;
	}


	// SITE SPECIFIC CSS


}


// @include respond-to-max($c-vp) {

	// SITE SPECIFIC CSS

// }




@include respond-to-max($c-vp) {

	// SITE SPECIFIC CSS
	
	// Dropdown || Hostmaker City
	.drop-down p {
		text-align: center;
	}


}









